#logAA {
  color:#4d9933;
  
}

#logBB {
  color:#339933;
  
}
#logCC {
  color:#33994d;
  
}
#logDD {
  color:#339966;
  
}
#logEE {
  color:#339980;
  
}
#logFF {
  color:#339999;
  
}
#logGG {
  color:#338099;
  
}
#logHH {
  color:#336699;
  
}
#logII {
  color:#334d99;
  
}
#logJJ {
  color:#333399;
  
}
#logKK {
  color:#4d3399;
  
}
#logLL {
  color:#663399;
  
}
#logMM {
  color:#803399;
  
}
#logNN {
  color:#993399;
  
}
#logOO {
  color:#993380;
  
}
#logPP {
  color:#993366;
  
}
#logQQ {
  color:#99334d;
  
}
#logRR {
  color:#993333;
  
}
#logSS {
  color:#993333;
  
}
#logTT {
  color:#994d33;
  
}
#logUU {
  color:#996633;
  
}
#logVV {
  color:#998033;
  
}
#logWW {
  color:#999933;
  
}
#logXX {
  color:#809933;
  
}
#logYY {
  color:#669933;
  
}
#logZZ {
  color:#4d9933;
  
}